body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: lightblue, 0.6;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  