.jumbotron {
  background-color: aliceblue;
  width: 50%;
  height: 40%;
  margin-top: 15px;

  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid lightgray;
  text-align: center;
}

.lead {
  font-size: 1.8rem;
}

h1 {
  float: left;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
